{%load static %}
<div class="w-100 container m-1 h-auto">
    <div class="d-flex justify-content-between">
        <div>
            <h6>ARTICLES</h6>
            <p>{{NoArticle}} article</p>
        </div>
        <div>
            <a href="{% url 'createArticle'%}" class="btn btn-primary">Add new Article</a>
        </div>
    </div>
    {% for i in articles%}
    <div class="w-100 bg-secondary shadow border rounded p-2 mt-3 h-auto">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <img class="rounded rounded-circle" src="{%static i.Owner.Avatar.url%}" style="height:5vh;width:5vh;">
                <span class="m-2 text-white">{{i.Owner.username}}</span>
            </div>
            <div>
                <span class="text-white">{{i.created_at|timesince}} ago</span>
                {%if i.Owner == request.user%}
                <a class="btn btn-info p-1 m-0" href="{% url 'updateArticle' i.id%}">Update</a>
                <a class="btn btn-danger p-1 m-0" href="{% url 'deleteArticle' i.id%}"><i class="fa fa-trash"></i></a>
                {%endif%}
            </div>
        </div>
        <hr>
        <div class="text-white">
            <p class="text-break">{{i.Content|slice:"0:100"}}
                <span><a class="link text-bold" href="{% url 'details' i.id%}">see more</a></span>
            </p>
        </div>
    </div>

    {% endfor %}
</div>